<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1><%= username2 %></h1>
    <div id="messages">
        <input id="message" type="text" name="message" placeholder="Message" />
        <br />
        <br />
        <button onClick="emitData()">Send</button>
    </div>

    <div id="joined"></div>

</body>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io("http://localhost:5000");

    function emitData() {
        const message = document.querySelector("#message").value;
        if (message.length > 0) {
            socket.emit("message", { message, from: "<%= username1 %>" });
        }
    }

    socket.on("message", ({ newroom="hi",from, message }) => {
        const room1="<%= username1 %>" +"<%= username2 %>"
        const room2="<%= username2 %>"+"<%= username1 %>"
        console.log(room1);
        console.log(room2);
        console.log(newroom);
        if(newroom==="hi"){
            const messageElement = document.createElement("h5");
            messageElement.innerText = `${from}: ${message}`;
            document.querySelector("#messages").appendChild(messageElement);
        }
        if(newroom===room1||newroom===room2){
            const messageElement = document.createElement("h5");
            messageElement.innerText = `${from}: ${message}`;
            document.querySelector("#messages").appendChild(messageElement);
        }
    });

    socket.on("joined", username1 => {
        const element = document.createElement("h5");
        element.innerText = `${username1} has joined`;
        document.querySelector("#joined").appendChild(element);
    });
</script>
</html>
